.fivecol-6-6--4-4-4 .arc--2 .l-r {
  width: 50%;
}

.fivecol-6-6--4-4-4 .arc--3 .l-r {
  width: 33.33333%;
}

.fivecol-6-6--4-4-4 .arc--3 .l-r {
  width: 25%;
}

.fivecol-6-6--4-4-4 .arc--5 .l-r {
  width: 33.33333%;
}

.fivecol-6-6--4-4-4 .arc--5 .l-r:first-child, .fivecol-6-6--4-4-4 .arc--5 .l-r:nth-child(2) {
  width: 50%;
}
