@import "../flex-builder-base";
//
// Three Regions 6-2-4
//
// First region  : 6 grid columns.
// Second region : 2 grid columns.
// Third region  : 4 grid columns.
// ---------------------------------------------------------------------------

.threecol-6-2-4 {

  // Two active regions.
  .hr--1-2 {
    .l-r {
      width: span(10 of 12);

      &:last-child {
        width: span(2 of 12);
      }
    }
  }

  .hr--1-3 {
    .l-r {
      width: span(8 of 12);
    }
  }

  .hr--2-3 {
    .l-r {
      width: span(4 of 12);

      &:last-child {
        width: span(8 of 12);
      }
    }
  }

  // Three active regions.
  .arc--3 {
    .l-r {
      width: span(6 of 12);

      &:nth-child(2) {
        width: span(2 of 12);
      }
    }
  }

  .hr--1-3,
  .arc--3 {
    .l-r {
      &:last-child {
        width: span(4 of 12);
      }
    }
  }
}
