@import "../flex-builder-base";
//
// Three Regions 5-4-3
//
// First region  : 5 grid columns.
// Second region : 4 grid columns.
// Third region  : 3 grid columns.
// ---------------------------------------------------------------------------

.threecol-5-4-3 {

  // Two active regions.
  .hr--1-2 {
    .l-r {
      width: span(8 of 12);

      &:last-child {
        width: span(4 of 12);
      }
    }
  }

  .hr--1-3 {
    .l-r {
      width: span(9 of 12);
    }
  }

  .hr--2-3 {
    .l-r {
      width: span(7 of 12);

      &:last-child {
        width: span(5 of 12);
      }
    }
  }

  // Three active regions.
  .arc--3 {
    .l-r {
      width: span(5 of 12);

      &:nth-child(2) {
        width: span(4 of 12);
      }
    }
  }

  .arc--3,
  .hr--1-3 {
    .l-r {
      &:last-child {
        width: span(3 of 12);
      }
    }
  }
}
