@import "../flex-builder-base";
//
// Three Regions 2-3-7
//
// First region  : 2 grid columns.
// Second region : 3 grid columns.
// Third region  : 7 grid columns.
// ---------------------------------------------------------------------------

.threecol-2-3-7 {

  .hr--1-2 {
    .l-r {
      width: span(5 of 12);

      &:last-child {
        width: span(7 of 12);
      }
    }
  }

  .hr--1-3 {
    .l-r {
      width: span(2 of 12);

      &:last-child {
        width: span(10 of 12);
      }
    }
  }

  .hr--2-3 {
    .l-r {
      width: span(3 of 12);

      &:last-child {
        width: span(9 of 12);
      }
    }
  }

  // Three active regions.
  .arc--3 {
    .l-r {
      width: span(2 of 12);

      &:nth-child(2) {
        width: span(3 of 12);
      }
      &:last-child {
        width: span(7 of 12);
      }
    }
  }
}
