@import "../flex-builder-base";
//
// Three Regions 5-5-2
//
// First region  : 5 grid columns.
// Second region : 5 grid columns.
// Third region  : 2 grid columns.
// ---------------------------------------------------------------------------

.threecol-5-5-2 {

  // Two active regions.
  .hr--1-2 {
    .l-r {
      width: span(6 of 12);
    }
  }

  .hr--1-3,
  .hr--2-3 {
    .l-r {
      width: span(10 of 12);

      &:last-child {
        width: span(2 of 12);
      }
    }
  }

  // Three active regions.
  .arc--3 {
    .l-r {
      width: span(5 of 12);

      &:last-child {
        width: span(2 of 12);
      }
    }
  }
}
