@import "../flex-builder-base";
//
// Three Regions 2-4-6
//
// First region  : 2 grid columns.
// Second region : 4 grid columns.
// Third region  : 6 grid columns.
// ---------------------------------------------------------------------------

.threecol-2-4-6 {

  .hr--1-2,
  .hr--2-3 {
    .l-r {
      width: span(4 of 12);

      &:last-child {
        width: span(8 of 12);
      }
    }
  }

  .hr--1-3 {
    .l-r {
      width: span(2 of 12);

      &:last-child {
        width: span(10 of 12);
      }
    }
  }

  // Three active regions.
  .arc--3 {
    .l-r {
      width: span(2 of 12);

      &:nth-child(2) {
        width: span(4 of 12);
      }
      &:last-child {
        width: span(6 of 12);
      }
    }
  }
}
