@import "../flex-builder-base";
//
// Three Regions - stack order 3-1-2
//
// All regions are full width, only the flex order changes.
// ---------------------------------------------------------------------------

.threecol-stack-order-3-1-2 {

  // Two active regions.
  .hr--1-3,
  .hr--2-3 {
    .l-r {
      &:first-child {
        order: 2;
      }
      &:last-child {
        order: 1;
      }
    }
  }

  .hr--2-3 {}

  // Three active regions.
  .arc--3 {
    .l-r {
      &:first-child {
        order: 2;
      }
      &:nth-child(2) {
        order: 3;
      }
      &:last-child {
        order: 1;
      }
    }
  }
}

