@import "../flex-builder-base";
//
// Three Regions 6-3-3
//
// First region  : 6 grid columns.
// Second region : 3 grid columns.
// Third region  : 3 grid columns.
// ---------------------------------------------------------------------------

.threecol-6-3-3 {

  // Three active regions.
  .arc--3 .l-r {
    width: span(3 of 12);

    &:first-child {
      width: span(6 of 12);
    }
  }

  // Two regions active.
  .hr--1-3,
  .hr--1-2 {
    .l-r {
      width: span(9 of 12);

      &:last-child {
        width: span(3 of 12);
      }
    }
  }

  .hr--2-3 {
    .l-r {
      width: span(6 of 12);
    }
  }
}

