@import "../flex-builder-base";
//
// Three Regions 3-3-6
//
// First region  : 3 grid columns.
// Second region : 3 grid columns.
// Third region  : 6 grid columns.
// ---------------------------------------------------------------------------

.threecol-3-3-6 {

  // Two active regions.
  .hr--1-2 {
    .l-r {
      width: span(6 of 12);
    }
  }

  .hr--1-3,
  .hr--2-3 {
    .l-r {
      width: span(3 of 12);

      &:last-child {
        width: span(9 of 12);
      }
    }
  }

  // Three active regions.
  .arc--3 {
    .l-r {
      width: span(3 of 12);

      &:last-child {
        width: span(6 of 12);
      }
    }
  }
}
