@import "../flex-builder-base";
//
// Three Regions 4-2-6
//
//   - first (widest region)
//   - second (narrow region)
//   - third (narrow region)
//
// But you want it to appear like this:
//
//   ------------------------------------------------------
//  |   second    |    third     |          first          |
//   ------------------------------------------------------

.threecol-row-reverse-4-2-6 {
  // Reverse row direction.
  .l-rw {
    flex-direction: $row-direction-reverse;
  }

  // Two regions active.
  .hr--1-2,
  .hr--1-3,
  .hr--2-3 {
    .l-r {
      width: span(6 of 12);
    }
  }

  // All 3col regions are active.
  .arc--3 {
    .l-r {
      &:first-child {
        width: span(6 of 12);
      }

      &:nth-child(2) {
        width: span(4 of 12);
      }

      &:nth-child(3) {
        width: span(2 of 12);
      }
    }
  }
}
