@import "../flex-builder-base";
//
// Three Regions 7-3-2
//
// First region  : 7 grid columns.
// Second region : 3 grid columns.
// Third region  : 2 grid columns.
// ---------------------------------------------------------------------------

.threecol-7-3-2 {

  // Two active regions.
  .hr--1-2 {
    .l-r {
      width: span(9 of 12);

      &:last-child {
        width: span(3 of 12);
      }
    }
  }

  .hr--2-3 {
    .l-r {
      width: span(7 of 12);

      &:last-child {
        width: span(5 of 12);
      }
    }
  }

  .hr--1-3 {
    .l-r {
      width: span(10 of 12);
    }
  }

  // Three active regions.
  .arc--3 {
    .l-r {
      width: span(7 of 12);

      &:nth-child(2) {
        width: span(3 of 12);
      }
    }
  }

  .hr--1-3,
  .arc--3 {
    .l-r {
      &:last-child {
        width: span(2 of 12);
      }
    }
  }
}
