@import "../flex-builder-base";
//
// Main Content 3-9--12 Source Ordered
//
// This layout floats the first region right.
//
//   - first
//   - second
//   - third
//
// But you want it to appear like this:
//
//   -------------------------------------
//  |   second  |          first         |
//   -------------------------------------
//  |                third               |
//   -------------------------------------

.threecol-source-ordered-3-9--12 {

  // Region first and second are active.
  .hr--1-2 {
    .l-r {
      &:first-child {
        width: span(9 of 12);
        order: 2;
      }

      &:last-child {
        width: span(3 of 12);
        order: 1;
      }
    }
  }

  // Region first and third are active.
  // We preserve the full width by allowing
  // both regions full width when 1 and 3 are
  // the only active regions.
  .hr--1-3 {
    .l-r {}
  }

  // Three regions active.
  .arc--3 {
    .l-r {
      &:first-child {
        width: span(9 of 12);
        order: 2;
      }

      &:nth-child(2) {
        width: span(3 of 12);
        order: 1;
      }

      &:last-child {
        order: 3;
      }
    }
  }
}

