@import "../flex-builder-base";
//
// Three Regions 2-5-5
//
// This layout will place the first region in source order between the
// following two. For example, if we have the region source order:
//
//   - first (widest region)
//   - second (narrow region)
//   - third (narrow region)
//
// But you want it to appear like this:
//
//   ------------------------------------------------------
//  |    second    |         first         |    third     |
//   ------------------------------------------------------

.threecol-source-ordered-2-5-5 {

  // Region first and second are active.
  .hr--1-2 {
    .l-r {
      &:first-child {
        width: span(10 of 12);
        order: 2;
      }

      &:last-child {
        width: span(2 of 12);
        order: 1;
      }
    }
  }

  // Region first and third are active.
  .hr--1-3 {
    .l-r {
      &:first-child {
        width: span(7 of 12);
        order: 1;
      }

      &:last-child {
        width: span(5 of 12);
        order: 2;
      }
    }
  }

  // Region second and third are active.
  .hr--2-3 {
    .l-r {
      width: span(6 of 12);
    }
  }

  // All 3col regions are active.
  .arc--3 {
    .l-r {
      &:first-child {
        width: span(5 of 12);
        order: 2;
      }

      &:nth-child(2) {
        width: span(2 of 12);
        order: 1;
      }

      &:last-child {
        width: span(5 of 12);
        order: 3;
      }
    }
  }
}
