@import "../flex-builder-base";
//
// Three Regions 3-7-2
//
// First region  : 3 grid columns.
// Second region : 7 grid columns.
// Third region  : 2 grid columns.
//
// This layout will place the first region in source order between the
// following two. For example, if we have the region source order:
//
//   - first
//   - second
//   - third
//
// But you want it to appear like this:
//
//   ------------------------------------------------------
//  |   second   |            first           |   third    |
//   ------------------------------------------------------

.threecol-source-ordered-3-7-2 {

  // Region first and second are active.
  .hr--1-2 {
    .l-r {
      &:first-child {
        width: span(9 of 12);
        order: 2;
      }

      &:last-child {
        width: span(3 of 12);
        order: 1;
      }
    }
  }

  // Region first and third are active.
  .hr--1-3 {
    .l-r {
      &:first-child {
        width: span(10 of 12);
        order: 1;
      }

      &:last-child {
        width: span(2 of 12);
        order: 2;
      }
    }
  }

  // Region second and third are active.
  .hr--2-3 {
    .l-r {
      width: span(6 of 12);
    }
  }

  // All 3col regions are active.
  .arc--3 {
    .l-r {
      &:first-child {
        width: span(7 of 12);
        order: 2;
      }

      &:nth-child(2) {
        width: span(3 of 12);
        order: 1;
      }

      &:last-child {
        width: span(2 of 12);
        order: 3;
      }
    }
  }
}
