@import "../flex-builder-base";
//
// Three Regions 2-2-8
//
// First region  : 2 grid columns.
// Second region : 2 grid columns.
// Third region  : 8 grid columns.
// ---------------------------------------------------------------------------

.threecol-2-2-8 {

  // Two active regions.
  .hr--1-2 {
    .l-r {
      width: span(6 of 12);
    }
  }

  .hr--1-3,
  .hr--2-3 {
    .l-r {
      width: span(2 of 12);

      &:last-child {
        width: span(10 of 12);
      }
    }
  }

  // Three active regions.
  .arc--3 {
    .l-r {
      width: span(2 of 12);

      &:last-child {
        width: span(8 of 12);
      }
    }
  }
}
