.sixcol-6x2 .arc--2 .l-r {
  width: 50%;
}

.sixcol-6x2 .arc--3 .l-r {
  width: 33.33333%;
}

.sixcol-6x2 .arc--4 .l-r {
  width: 25%;
}

.sixcol-6x2 .arc--5 .l-r {
  width: 20%;
}

.sixcol-6x2 .arc--6 .l-r {
  width: 16.66667%;
}
