@import "../flex-builder-base";
//
// Five regions
//

.fivecol-source-ordered-2-2-4-2-2 {

  // Two active regions.
  .arc--2 {
    .l-r {
      width: span(6 of 12);
    }
  }


  // Three active regions.
  .arc--3 {
    .l-r {
      width: span(4 of 12);
    }
  }


  // Four active regions.
  .arc--4 {
    .l-r {
      width: span(4 of 12);

      &:first-child,
      &:last-child {
        width: span(2 of 12);
      }
    }
  }


  // Five active regions.
  .arc--5 {
    .l-r {
      width: span(2 of 12);

      &:first-child {
        width: span(4 of 12);
        @include push(4 of 12);
      }

      &:nth-child(2) {
        @include pull(8 of 12);
      }

      &:nth-child(3) {
        @include pull(6 of 12);
      }
    }
  }
}

