@import "plugin-layout-base";
//
// Three Regions 2-8-2 (content source ordered layout)
//
// First region  : 2 grid columns.
// Second region : 8 grid columns.
// Third region  : 2 grid columns.
// -----------------------------------------------------------------------------

.bp--at-core-simple-tablet-isolate,
.bp--at-core-simple-wide {
  .atl--threecol-2-8-2 {
    // Region first and second are active.
    &.l-ac--1-2 {
      > .atl__cw > .atl__lc {
        &:first-child {
          width: span(10 of 12);
        }

        &:last-child {
          width: span(2 of 12);
        }
      }
    }

    // Region first and third are active.
    &.l-ac--1-3 {
      > .atl__cw > .atl__lc {
        &:first-child {
          width: span(10 of 12);
        }

        &:last-child {
          width: span(2 of 12);
        }
      }
    }

    // Region second and third are active.
    &.l-ac--2-3 {
      > .atl__cw > .atl__lc {
        width: span(6 of 12);
      }
    }
  }
}

// All regions active.
.bp--at-core-simple-tablet-isolate {
  .atl--threecol-2-8-2 {
    &.l-arc--3 {
      > .atl__cw > .atl__lc {
        &:nth-child(2),
        &:last-child {
          width: span(6 of 12);
        }
      }
    }
  }
}

.bp--at-core-simple-wide {
  .atl--threecol-2-8-2 {
    &.l-arc--3 {
      > .atl__cw > .atl__lc {
        &:first-child {
          width: span(8 of 12);
          order: 2;
        }

        &:nth-child(2) {
          width: span(2 of 12);
          order: 1;
        }

        &:last-child {
          width: span(2 of 12);
          order: 3;
        }
      }
    }
  }
}
