@import "plugin-layout-base";
//
// Three Regions 8-2-2
//
// First region  : 8 grid columns.
// Second region : 2 grid columns.
// Third region  : 2 grid columns.
// -----------------------------------------------------------------------------

.bp--at-core-simple-wide,
.bp--at-core-simple-tablet-isolate {
  .atl--threecol-8-2-2 {
    // Two active regions.
    &.l-arc--2 {
      > .atl__cw > .atl__lc {
        width: span(8 of 12);

        &:last-child {
          width: span(4 of 12);
        }
      }
    }
  }
}

.bp--at-core-simple-tablet-isolate {
  .atl--threecol-8-2-2 {
    // Three active regions.
    &.l-arc--3 {
      > .atl__cw > .atl__lc {
        &:nth-child(2),
        &:last-child {
          width: span(6 of 12);
        }
      }
    }
  }
}

.bp--at-core-simple-wide {
  .atl--threecol-8-2-2 {
    // Three active regions.
    &.l-arc--3 {
      > .atl__cw > .atl__lc {
        width: span(2 of 12);

        &:first-child {
          width: span(8 of 12);
        }
      }
    }
  }
}
