@import "plugin-layout-base";
//
// Two Regions 6-6
// -----------------------------------------------------------------------------

.bp--at-core-simple-wide,
.bp--at-core-simple-tablet-isolate {
  .atl--twocol-6-6 {
    &.l-arc--2 {
      > .atl__cw > .atl__lc {
        width: span(6 of 12);
      }
    }
  }
}
