.threecol-split-row-7-5--12 .hr--1-2 .l-r:first-child,
.threecol-split-row-7-5--12 .arc--3 .l-r:first-child {
  width: 58.33333%;
}

.threecol-split-row-7-5--12 .hr--1-2 .l-r:last-child,
.threecol-split-row-7-5--12 .arc--3 .l-r:nth-child(2) {
  width: 41.66667%;
}
