.threecol-3-3-6 .hr--1-2 .l-r {
  width: 50%;
}

.threecol-3-3-6 .hr--1-3 .l-r,
.threecol-3-3-6 .hr--2-3 .l-r {
  width: 25%;
}

.threecol-3-3-6 .hr--1-3 .l-r:last-child,
.threecol-3-3-6 .hr--2-3 .l-r:last-child {
  width: 75%;
}

.threecol-3-3-6 .arc--3 .l-r {
  width: 25%;
}

.threecol-3-3-6 .arc--3 .l-r:last-child {
  width: 50%;
}
