.threecol-row-reverse-2-4-6 .l-rw {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.threecol-row-reverse-2-4-6 .hr--1-2 .l-r,
.threecol-row-reverse-2-4-6 .hr--1-3 .l-r,
.threecol-row-reverse-2-4-6 .hr--2-3 .l-r {
  width: 50%;
}

.threecol-row-reverse-2-4-6 .arc--3 .l-r:first-child {
  width: 50%;
}

.threecol-row-reverse-2-4-6 .arc--3 .l-r:nth-child(2) {
  width: 16.66667%;
}

.threecol-row-reverse-2-4-6 .arc--3 .l-r:nth-child(3) {
  width: 33.33333%;
}
