.threecol-split-row-3-9--12 .hr--1-2 .l-r:first-child,
.threecol-split-row-3-9--12 .arc--3 .l-r:first-child {
  width: 25%;
}

.threecol-split-row-3-9--12 .hr--1-2 .l-r:last-child,
.threecol-split-row-3-9--12 .arc--3 .l-r:nth-child(2) {
  width: 75%;
}
