.threecol-row-reverse-4-3-5 .l-rw {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.threecol-row-reverse-4-3-5 .hr--1-2 .l-r:first-child,
.threecol-row-reverse-4-3-5 .hr--1-3 .l-r:first-child {
  width: 58.33333%;
}

.threecol-row-reverse-4-3-5 .hr--1-2 .l-r:last-child,
.threecol-row-reverse-4-3-5 .hr--1-3 .l-r:last-child {
  width: 41.66667%;
}

.threecol-row-reverse-4-3-5 .hr--2-3 .l-r {
  width: 58.33333%;
}

.threecol-row-reverse-4-3-5 .hr--2-3 .l-r:last-child {
  width: 41.66667%;
}

.threecol-row-reverse-4-3-5 .arc--3 .l-r:first-child {
  width: 41.66667%;
}

.threecol-row-reverse-4-3-5 .arc--3 .l-r:nth-child(2) {
  width: 33.33333%;
}

.threecol-row-reverse-4-3-5 .arc--3 .l-r:nth-child(3) {
  width: 25%;
}
