//
// Import required plugins and define base variables.
//
// Don't write any actual styles here, it's just for configuration and imports.
// ---------------------------------------------------------------------------

// Requirements - import susy from bower components.
@import "../../../bower_components/susy/sass/susy";

// Susy default settings override
// http://susy.readthedocs.org/en/latest/settings/#global-defaults
$susy: (
  global-box-sizing: border-box,
  container: 75em, // max-width
  columns: 12,
  gutters: 0/4,


  //debug: (
  //  image: show-columns,
  //  color: rgba(0,0,0,0.25),
  //  output: overlay,
  //  toggle: bottom left,
  //),
);


//// Custom layout maps
$container-12: (
  columns: 12,   // number of grid columns (the context)
  gutters: 0/4,  // gutter width/column width
);

$container-10: (
  columns: 10,
  gutters: 0/6.25,
);

$container-8: (
  columns: 8,
  gutters: 0/8.125,
);


// Flow Direction
$flow-direction: susy-get(flow, $susy) !global;
$flow-to: to($flow-direction);
$flow-from: from($flow-direction);

// Set the row direction.
$row-direction: if($flow-from == left, row, row-reverse);
$row-direction-reverse: if($flow-from == left, row-reverse, row);


