@import "../page-layout-base";
//
// Three Regions 5-2-5
//
// First region  : 5 grid columns.
// Second region : 2 grid columns.
// Third region  : 5 grid columns.
// ---------------------------------------------------------------------------

.threecol-5-2-5 {

  // Two active regions.
  .hr--1-2 {
    .l-r {
      width: span(10 of 12);

      &:last-child {
        width: span(2 of 12);
      }
    }
  }

  .hr--1-3 {
    .l-r {
      width: span(6 of 12);
    }
  }

  .hr--2-3 {
    .l-r {
      width: span(2 of 12);

      &:last-child {
        width: span(10 of 12);
      }
    }
  }

  // Three active regions.
  .arc--3 {
    .l-r {
      width: span(5 of 12);

      &:nth-child(2) {
        width: span(2 of 12);
      }
    }
  }
}
