@import "../page-layout-base";
//
// Three Regions 4-6-2
//
// First region  : 4 grid columns.
// Second region : 6 grid columns.
// Third region  : 2 grid columns.
//
// But you want it to appear like this:
//
//   ------------------------------------------------------
//  |      second      |      first      |      third      |
//   ------------------------------------------------------
//
// This is mostly used when you want "sidebars" either side of a content
// region, but have them below the main content in the source order.

.threecol-source-ordered-4-6-2 {

  // Region first and second are active.
  .hr--1-2 {
    .l-r {
      &:first-child {
        width: span(8 of 12);
        order: 2;
      }

      &:last-child {
        width: span(4 of 12);
        order: 1;
      }
    }
  }

  // Region first and third are active.
  .hr--1-3 {
    .l-r {
      &:first-child {
        width: span(10 of 12);
        order: 1;
      }

      &:last-child {
        width: span(2 of 12);
        order: 2;
      }
    }
  }

  // Region second and third are active.
  .hr--2-3 {
    .l-r {
      width: span(6 of 12);
    }
  }

  // All 3col regions are active.
  .arc--3 {
    .l-r {
      &:first-child {
        width: span(6 of 12);
        order: 2;
      }

      &:nth-child(2) {
        width: span(4 of 12);
        order: 1;
      }

      &:last-child {
        width: span(2 of 12);
        order: 3;
      }
    }
  }
}
