.threecol-7-3-2 .hr--1-2 .l-r {
  width: 75%;
}

.threecol-7-3-2 .hr--1-2 .l-r:last-child {
  width: 25%;
}

.threecol-7-3-2 .hr--2-3 .l-r {
  width: 58.33333%;
}

.threecol-7-3-2 .hr--2-3 .l-r:last-child {
  width: 41.66667%;
}

.threecol-7-3-2 .hr--1-3 .l-r {
  width: 83.33333%;
}

.threecol-7-3-2 .arc--3 .l-r {
  width: 58.33333%;
}

.threecol-7-3-2 .arc--3 .l-r:nth-child(2) {
  width: 25%;
}

.threecol-7-3-2 .hr--1-3 .l-r:last-child,
.threecol-7-3-2 .arc--3 .l-r:last-child {
  width: 16.66667%;
}
