.threecol-source-ordered-4-8--12 .hr--1-2 .l-r:first-child {
  width: 66.66667%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.threecol-source-ordered-4-8--12 .hr--1-2 .l-r:last-child {
  width: 33.33333%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.threecol-source-ordered-4-8--12 .arc--3 .l-r:first-child {
  width: 66.66667%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.threecol-source-ordered-4-8--12 .arc--3 .l-r:nth-child(2) {
  width: 33.33333%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.threecol-source-ordered-4-8--12 .arc--3 .l-r:last-child {
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}
