.threecol-5-4-3 .hr--1-2 .l-r {
  width: 66.66667%;
}

.threecol-5-4-3 .hr--1-2 .l-r:last-child {
  width: 33.33333%;
}

.threecol-5-4-3 .hr--1-3 .l-r {
  width: 75%;
}

.threecol-5-4-3 .hr--2-3 .l-r {
  width: 58.33333%;
}

.threecol-5-4-3 .hr--2-3 .l-r:last-child {
  width: 41.66667%;
}

.threecol-5-4-3 .arc--3 .l-r {
  width: 41.66667%;
}

.threecol-5-4-3 .arc--3 .l-r:nth-child(2) {
  width: 33.33333%;
}

.threecol-5-4-3 .arc--3 .l-r:last-child,
.threecol-5-4-3 .hr--1-3 .l-r:last-child {
  width: 25%;
}
