.threecol-source-ordered-2-6-4 .hr--1-2 .l-r:first-child {
  width: 83.33333%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.threecol-source-ordered-2-6-4 .hr--1-2 .l-r:last-child {
  width: 16.66667%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.threecol-source-ordered-2-6-4 .hr--1-3 .l-r:first-child {
  width: 66.66667%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.threecol-source-ordered-2-6-4 .hr--1-3 .l-r:last-child {
  width: 33.33333%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.threecol-source-ordered-2-6-4 .hr--2-3 .l-r {
  width: 50%;
}

.threecol-source-ordered-2-6-4 .arc--3 .l-r:first-child {
  width: 50%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.threecol-source-ordered-2-6-4 .arc--3 .l-r:nth-child(2) {
  width: 16.66667%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.threecol-source-ordered-2-6-4 .arc--3 .l-r:last-child {
  width: 33.33333%;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}
