.fourcol-source-ordered-12--2-8-2 .hr--3-4 .l-r {
  width: 50%;
}

.fourcol-source-ordered-12--2-8-2 .hr--2-3 .l-r:first-child {
  width: 66.66667%;
}

.fourcol-source-ordered-12--2-8-2 .hr--2-3 .l-r:last-child {
  width: 33.33333%;
}

.fourcol-source-ordered-12--2-8-2 .hr--2-4 .l-r:first-child {
  width: 66.66667%;
}

.fourcol-source-ordered-12--2-8-2 .hr--2-4 .l-r:last-child {
  width: 33.33333%;
}

.fourcol-source-ordered-12--2-8-2 .hr--1-2-3 .l-r:first-child {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.fourcol-source-ordered-12--2-8-2 .hr--1-2-3 .l-r:nth-child(2) {
  width: 66.66667%;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

.fourcol-source-ordered-12--2-8-2 .hr--1-2-3 .l-r:last-child {
  width: 33.33333%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.fourcol-source-ordered-12--2-8-2 .hr--1-2-4 .l-r:nth-child(2) {
  width: 66.66667%;
}

.fourcol-source-ordered-12--2-8-2 .hr--1-2-4 .l-r:last-child {
  width: 33.33333%;
}

.fourcol-source-ordered-12--2-8-2 .hr--1-3-4 .l-r:nth-child(2) {
  width: 50%;
}

.fourcol-source-ordered-12--2-8-2 .hr--1-3-4 .l-r:last-child {
  width: 50%;
}

.fourcol-source-ordered-12--2-8-2 .hr--2-3-4 .l-r:first-child {
  width: 66.66667%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.fourcol-source-ordered-12--2-8-2 .hr--2-3-4 .l-r:nth-child(2) {
  width: 16.66667%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.fourcol-source-ordered-12--2-8-2 .hr--2-3-4 .l-r:last-child {
  width: 16.66667%;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

.fourcol-source-ordered-12--2-8-2 .arc--4 .l-r:first-child {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.fourcol-source-ordered-12--2-8-2 .arc--4 .l-r:nth-child(2) {
  width: 66.66667%;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

.fourcol-source-ordered-12--2-8-2 .arc--4 .l-r:nth-child(3) {
  width: 16.66667%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.fourcol-source-ordered-12--2-8-2 .arc--4 .l-r:last-child {
  width: 16.66667%;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
}
