@import "../flex-builder-base";
//
// Four Regions 12--9-3--12
//
// Double split row type layout. This layout splits 4 regions over 3 rows.
//
// Appearance:
//
//   -------------------------------------
//  | First (12)                          |
//  |-------------------------------------|
//  | Second (9)             | Third (3)  |
//  |-------------------------------------|
//  | Fourth (12)                         |
//   -------------------------------------
//  Key: region (grid columns)
//
// ---------------------------------------------------------------------------

.fourcol-split-row-12--9-3--12 {

  // Two active regions.
  .hr--2-3 {
    .l-r {
      width: span(9 of 12);

      &:last-child {
        width: span(3 of 12);
      }
    }
  }

  // Three active regions.
  .hr--1-2-3 {
    .l-r {
      &:nth-child(2) {
        width: span(9 of 12);
      }

      &:last-child {
        width: span(3 of 12);
      }
    }
  }

  .hr--2-3-4 {
    .l-r {
      &:first-child {
        width: span(9 of 12);
      }

      &:nth-child(2) {
        width: span(3 of 12);
      }
    }
  }

  // Four active regions.
  .arc--4 {
    .l-r {
      &:nth-child(2) {
        width: span(9 of 12);
      }

      &:nth-child(3) {
        width: span(3 of 12);
      }
    }
  }
}

