@import "../flex-builder-base";
//
// Two Regions 10-2
//
// First region  : 10 grid columns.
// Second region : 2 grid columns.
//
// Actual Source Order:
//
//  - first
//  - second
//
// Appearance:
//
//  ------------------------------------------------
//  |       first (10)                | second (2) |
//  ------------------------------------------------
//  Key: region-name (grid columns)

.twocol-10-2 {

  .arc--2 {
    .l-r {
      width: span(10 of 12);

      &:last-child {
        width: span(2 of 12);
      }
    }
  }
}
