.atl__lr {
  margin: 0 -0.625em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.atl__lc {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 0.625em;
  width: 100%;
}

.bp--at-core-simple-wide .atl--threecol-6-3-3.l-arc--2 > .atl__cw > .atl__lc,
.bp--at-core-simple-tablet-isolate .atl--threecol-6-3-3.l-arc--2 > .atl__cw > .atl__lc {
  width: 75%;
}

.bp--at-core-simple-wide .atl--threecol-6-3-3.l-arc--2 > .atl__cw > .atl__lc:last-child,
.bp--at-core-simple-tablet-isolate .atl--threecol-6-3-3.l-arc--2 > .atl__cw > .atl__lc:last-child {
  width: 25%;
}

.bp--at-core-simple-tablet-isolate .atl--threecol-6-3-3.l-arc--3 > .atl__cw > .atl__lc:nth-child(2), .bp--at-core-simple-tablet-isolate .atl--threecol-6-3-3.l-arc--3 > .atl__cw > .atl__lc:last-child {
  width: 50%;
}

.bp--at-core-simple-wide .atl--threecol-6-3-3.l-arc--3 > .atl__cw > .atl__lc {
  width: 25%;
}

.bp--at-core-simple-wide .atl--threecol-6-3-3.l-arc--3 > .atl__cw > .atl__lc:first-child {
  width: 50%;
}
