@media all and (min-width: 60.0625em) {
  .node--type-article.node--view-mode-full .field-type-image__figure { 
  text-align: center;
  margin: 0.25rem auto 1rem auto;
 }
}
@media all and (min-width: 60.0625em) {
  .node--type-article.node--view-mode-teaser .field-type-image__figure { 
  float: right;
  margin: 0.25rem 0 0.5rem 1rem;
 }
}
@media all and (min-width: 45.0625em) and (max-width: 60em) {
  .node--type-article.node--view-mode-full .field-type-image__figure { 
  text-align: center;
  margin: 0.25rem auto 1rem auto;
 }
}
@media all and (min-width: 45.0625em) and (max-width: 60em) {
  .node--type-article.node--view-mode-teaser .field-type-image__figure { 
  float: right;
  margin: 0.25rem 0 0.5rem 1rem;
 }
}
@media all and (max-width: 45em) {
  .node--type-article.node--view-mode-full .field-type-image__figure { 
  text-align: center;
  margin: 0.25rem auto 0.75rem auto;
 }
}
@media all and (max-width: 45em) {
  .node--type-article.node--view-mode-teaser .field-type-image__figure { 
  text-align: center;
  margin: 0.25rem auto 0.75rem auto;
 }
}
@media all and (min-width: 60.0625em) {
  .node--type-page.node--view-mode-full .field-type-image__figure { 
  text-align: center;
  margin: 0.25rem auto 1rem auto;
 }
}
@media all and (min-width: 60.0625em) {
  .node--type-page.node--view-mode-teaser .field-type-image__figure { 
  float: right;
  margin: 0.25rem 0 0.5rem 1rem;
 }
}
@media all and (min-width: 45.0625em) and (max-width: 60em) {
  .node--type-page.node--view-mode-full .field-type-image__figure { 
  text-align: center;
  margin: 0.25rem auto 1rem auto;
 }
}
@media all and (min-width: 45.0625em) and (max-width: 60em) {
  .node--type-page.node--view-mode-teaser .field-type-image__figure { 
  float: right;
  margin: 0.25rem 0 0.5rem 1rem;
 }
}
@media all and (max-width: 45em) {
  .node--type-page.node--view-mode-full .field-type-image__figure { 
  text-align: center;
  margin: 0.25rem auto 0.75rem auto;
 }
}
@media all and (max-width: 45em) {
  .node--type-page.node--view-mode-teaser .field-type-image__figure { 
  text-align: center;
  margin: 0.25rem auto 0.75rem auto;
 }
}
@media all and (min-width: 60.0625em) {
  .comment--type-comment.comment--view-mode-full .field-type-image__figure { 
  float: right;
  margin: 0.25rem 0 0.5rem 1rem;
 }
}
@media all and (min-width: 45.0625em) and (max-width: 60em) {
  .comment--type-comment.comment--view-mode-full .field-type-image__figure { 
  text-align: center;
  margin: 0.25rem auto 0.75rem auto;
 }
}
@media all and (max-width: 45em) {
  .comment--type-comment.comment--view-mode-full .field-type-image__figure { 
  text-align: center;
  margin: 0.25rem auto 0.75rem auto;
 }
}
@media all and (min-width: 60.0625em) {
  .block-content--type-basic.block-content--view-mode-full .field-type-image__figure { 
  float: none;
  margin: 0 0 0 0;
 }
}
@media all and (min-width: 45.0625em) and (max-width: 60em) {
  .block-content--type-basic.block-content--view-mode-full .field-type-image__figure { 
  float: none;
  margin: 0 0 0 0;
 }
}
@media all and (max-width: 45em) {
  .block-content--type-basic.block-content--view-mode-full .field-type-image__figure { 
  float: none;
  margin: 0 0 0 0;
 }
}