.site-branding__name-link { text-transform: none; font-variant: normal; font-weight: 400; text-align: left; }
.site-branding__slogan { text-transform: none; font-variant: normal; font-weight: 400; text-align: left; }
.node__title, .page__title, .user__title { text-transform: none; font-variant: normal; font-weight: 400; text-align: left; }
.node--view-mode-full .node__title, .node--view-mode-full .field-node--node-title * { text-transform: none; font-variant: normal; font-weight: 400; text-align: left; }
.node--view-mode-teaser .node__title, .node--view-mode-teaser .field-node--node-title * { text-transform: none; font-variant: normal; font-weight: 400; text-align: left; }
.comment__title, .comment__title a, .field-comment--comment-title * { text-transform: none; font-variant: normal; font-weight: 400; text-align: left; }
.block__title, .block-menu__title, .pane__title { text-transform: none; font-variant: normal; font-weight: 400; text-align: left; }
h1, .h1 { text-transform: none; font-variant: normal; font-weight: 400; text-align: left; letter-spacing: 2px; }
h2, .h2 { text-transform: none; font-variant: normal; font-weight: 400; text-align: left; letter-spacing: 2px; }
h3, .h3 { text-transform: none; font-variant: normal; font-weight: 400; text-align: left; }
h4, .h4 { text-transform: none; font-variant: normal; font-weight: 400; text-align: left; }
h5, .h5 { text-transform: none; font-variant: normal; font-weight: 600; text-align: left; }
h6, .h6 { text-transform: none; font-variant: normal; font-weight: 600; text-align: left; }