//
// Import required plugins, define base variables & global styles.
// ---------------------------------------------------------------------------

// Imports.
@import "../../../bower_components/susy/sass/susy";

// Susy default settings override.
$susy: (
  columns: 12,
  gutters: 0,
  box-sizing: border-box
);

// Flow Direction
$flow-direction: susy-get(flow, $susy) !global;
$flow-to: to($flow-direction);
$flow-from: from($flow-direction);

// Set the row direction.
$row-direction: if($flow-from == left, row, row-reverse);
$row-direction-reverse: if($flow-from == left, row-reverse, row);

// Set display flex on row containers.
.atl__lr {
  margin: 0 -0.625em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: $row-direction;
  justify-content: space-between;
}

.atl__lc {
  flex: 0 0 auto;
  padding: 0 0.625em;
  width: 100%;
}

