@import "at-layout-plugin-base";
//
// Grid 4x4
// -----------------------------------------------------------------------------

.atl--grid-4x4 {
  > .atl__cw > .atl__lc {
    margin-bottom: gutter();
  }
}

.bp--at-core-simple-tablet {
  .atl--grid-4x4 {
    > .atl__cw {
      > .atl__lc {
        flex: 0 0 auto;
        width: span(6 of 12);
      }

      // Full width hanging widows.
      > .atl__lc:nth-of-type(odd):last-child {
        flex: 1 1 auto ;
        width: 100%;
      }
    }
  }
}

.bp--at-core-simple-wide {
  .atl--grid-4x4 {
    > .atl__cw {
      > .atl__lc {
        flex: 0 0 auto;
        width: span(3 of 12);
      }
    }
  }
}
