@import "at-layout-plugin-base";
//
// Three Regions 3-6-3 (content source ordered layout)
//
// First region  : 3 grid columns.
// Second region : 6 grid columns.
// Third region  : 3 grid columns.
// -----------------------------------------------------------------------------

.bp--at-core-simple-tablet,
.bp--at-core-simple-wide {
  .atl--threecol-3-6-3 {
    // Region first and second are active.
    &.l-ac--1-2 {
      > .atl__cw > .atl__lc {
        &:first-child {
          width: span(9 of 12);
        }

        &:last-child {
          width: span(3 of 12);
        }
      }
    }

    // Region first and third are active.
    &.l-ac--1-3 {
      > .atl__cw > .atl__lc {
        &:first-child {
          width: span(9 of 12);
        }

        &:last-child {
          width: span(3 of 12);
        }
      }
    }

    // Region second and third are active.
    &.l-ac--2-3 {
      > .atl__cw > .atl__lc {
        width: span(6 of 12);
      }
    }
  }
}

// All regions active.
.bp--at-core-simple-tablet {
  .atl--threecol-3-6-3 {
    &.l-arc--3 {
      > .atl__cw > .atl__lc {
        &:nth-child(2),
        &:last-child {
          width: span(6 of 12);
        }
      }
    }
  }
}

.bp--at-core-simple-wide {
  .atl--threecol-3-6-3 {
    &.l-arc--3 {
      > .atl__cw > .atl__lc {
        &:first-child {
          width: span(6 of 12);
          order: 2;
        }

        &:nth-child(2) {
          width: span(3 of 12);
          order: 1;
        }

        &:last-child {
          width: span(3 of 12);
          order: 3;
        }
      }
    }
  }
}

