@import "at-layout-plugin-base";
//
// Three Regions 3-3-6
//
// First region  : 3 grid columns.
// Second region : 3 grid columns.
// Third region  : 6 grid columns.
// -----------------------------------------------------------------------------

.bp--at-core-simple-wide,
.bp--at-core-simple-tablet {
  .atl--threecol-3-3-6 {
    // Two active regions.
    &.l-arc--2 {
      > .atl__cw > .atl__lc {
        width: span(3 of 12);

        &:last-child {
          width: span(9 of 12);
        }
      }
    }
  }
}

.bp--at-core-simple-tablet {
  .atl--threecol-3-3-6 {
    // Three active regions.
    &.l-arc--3 {
      > .atl__cw > .atl__lc {
        &:nth-child(2),
        &:last-child {
          width: span(6 of 12);
        }
      }
    }
  }
}

.bp--at-core-simple-wide {
  .atl--threecol-3-3-6 {
    // Three active regions.
    &.l-arc--3 {
      > .atl__cw > .atl__lc {
        width: span(3 of 12);

        &:last-child {
          width: span(6 of 12);
        }
      }
    }
  }
}