@import "at-layout-plugin-base";
//
// Two Regions 10-2
// -----------------------------------------------------------------------------

.bp--at-core-simple-wide,
.bp--at-core-simple-tablet {
  .atl--twocol-10-2 {
    &.l-arc--2 {
      > .atl__cw > .atl__lc {
        width: span(10 of 12);

        &:last-child {
          width: span(2 of 12);
        }
      }
    }
  }
}
