{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: carapace
 * Generated on: Sat, 10 Feb 18 12:16:43 +1300
 */
#}
{{ attach_library('carapace/carapace.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
